.mainMemoryPanel {
    
  min-height: 250px;
  max-width: 350px;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  background-color: lightgreen;
  margin-top:20px;
}

.instructionsPanel{
  min-height: 200px;
  max-width: 300px;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  background-color: lightskyblue;
  margin-top:20px;
}

.baseLimitPanel{
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  background-color: gold;
  margin-top:10px;
  max-width:300px;
  
  
}

.selectedInstr{
  background-color: lightblue;
}

.selectedMemory{
  background-color:greenyellow;
}


.header{
  text-align: center;
  font:bold 16px arial;
  padding:5px;
}

.header2{
  text-align:center;
  font: bold 14px arial;
  padding:5px;
}

.table{
  text-align:center;
  border-collapse: collapse;
  background-color:white;
  min-height:100px;
  margin-top:10px;
}

.table th{
  text-align:center;
}

.modal-content{
  padding:30px;
  overflow:auto;
}
